{% import "macros/page.html" as page_macros %}
{% extends "index.html" %}

{% block title %}
<title>{
    {{ term.name }}
</title>
<meta property="og:title" content="{{ term.name }}"/>
{% endblock title%}

{% block content %}
<h1 class="badge badge-primary h-11 pb-1 text-4xl font-bold"> 
    #{{ term.name }}
</h1>

<div class="divider"></div>

{% set pages_length = term.pages | length %}
{% for page in term.pages %}
    {{ page_macros::page_listing(page=page) }}
    {# This is the divider between post listings #}
    {% if loop.index != pages_length %}
        <div class="divider"></div>
    {% endif %}
{% endfor %}

{% endblock content %}