{% macro page_info(page, large) %}
    {% if page.date %}
        <div>{{ page.date | date(format=config.extra.anpu_date_format) }} </div>
        &bull;
    {% endif %}
    <div>
        {{ page.reading_time }} min read
    </div>
    <div class="article-taxonomies">
        {% if page.taxonomies.tags %}
            <div class="article-tags">
                {% for tag in page.taxonomies.tags %}
                <div class="{% if large %} tag-lg mt-1 {% else %} tag {% endif %}">
                    #{{ tag }}
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro page_info %}

{% macro page_listing(page) %}
    <article>
        <header class="text-2xl md:text-3xl lg:text-4xl font-bold"> 
            <a class="underline hover:decoration-dotted decoration-transparent hover:decoration-inherit" href="{{ page.permalink }}">{{ page.title }}</a>
        </header>
        <div class="flex flex-row gap-2 md:text-lg pt-1 ">
            {{ self::page_info(page=page, large=false) }}
        </div>

        {% if page.summary %}
        <div class="pt-2 md:text-lg">
            {{ page.summary | markdown | safe }}
        </div>
        {% endif %}
        
    </article>
{% endmacro page_listing %}

{% macro page_pagination(paginator) %}
    <div class="btn-group grid grid-cols-2 mt-10 md:w-2/5">
        <a class="btn {% if paginator.previous %} btn-outline {% else %} btn-disabled {% endif %}" href="{{ paginator.previous }}">Newer Posts</a>
        <a class="btn {% if paginator.next %} btn-outline {% else %} btn-disabled {% endif %}" href="{{ paginator.next }}">Older Posts</a>
    </div>
{% endmacro page_pagination %}