{% macro page_info(page) %}
    <div class="article-info">
        {% if page.date %}
            <div class="article-date">{{ page.date | date(format=config.extra.anpu_date_format) }} </div>
        {% endif %}
        <div class="reading-time">
            {{ page.reading_time }} minute reading time
        </div>
        <div class="article-taxonomies">
            {% if page.taxonomies.tags %}
                <div class="article-tags">
                    {% for tag in page.taxonomies.tags %}
                    <a class="tag" href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">
                        <i class="fa-solid fa-tag"></i>
                        {{ tag }}
                    </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro page_info %}

{% macro page_listing(page) %}
    <article class="post-list">
        <header> 
            <a href="{{ page.permalink }}">{{ page.title }}</a>
        </header>
        {{ self::page_info(page=page) }}

        {% if page.summary %}
        <div class="post-summary">
            {{ page.summary | markdown | safe }}
        </div>
        {% endif %}
        
    </article>
{% endmacro page_listing %}

{% macro page_pagination(paginator) %}
    <div class="pagination">
        <a href="{{ paginator.previous }}" class="left pagination-item {% if not paginator.previous %}disabled{% endif %}">
            {% if paginator.previous %}
                <i class="fa-solid fa-arrow-left"></i>
                <p>Newer Posts</p>
            {% endif %}
        </a>
        <a href="{{ paginator.next }}" class="right pagination-item {% if not paginator.next %}disabled{% endif %}">
            {% if paginator.next %}
            <p>Older Posts</p>
            <i class="fa-solid fa-arrow-right"></i>
            {% endif %}
        </a>
    </div>
{% endmacro page_pagination %}