{% import "macros/page.html" as page_macros %}
{% import "macros/elements.html" as element_macros %}
<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">
<head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer-when-downgrade">

    {% block title %}
        <title>{{ config.title }}</title>
        <meta property="og:title" content="{{ config.title }}"/>
        <meta name="twitter:title" content="{{ config.title }}" />
    {% endblock title %}

    {% block description %}
        <meta name="description" content="{{ config.description }}"/>
        <meta property="og:description" content="{{ config.description }}"/>
        <meta name="twitter:description" content="{{ config.description }}" />
    {% endblock description %}

    <meta name="author" content="Cameron"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cameron.rs" />
    <meta property="og:site_name" content="cameron.rs" />
    <meta name="twitter:card" content="summary_large_image" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>"
    />

    {% if config.generate_feed %}
        <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
    {% endif %}

    {# Tailwind CSS #}
    <link rel="stylesheet" type="text/css" href="/style.css">

    {% block extra_head %}
    {% endblock extra_head %}
    <script
      src="https://kit.fontawesome.com/6029373499.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
  <div class="flex flex-col items-center h-full">
    {{ element_macros::navbar() }}
    <main class="pt-8 w-11/12 lg:w-3/4 mb-[6rem]" id="main" tabindex="-1">
      {% block content %}
        {% if paginator.pages %}
          <div>
            {% set tags = get_taxonomy(kind="tags") %}
            {% for term in tags.items %}
              <a class="tag-button" href="{{ term.permalink | safe }}">
                #{{ term.name }}
              </a>
            {% endfor %}
            <div class="divider my-2"></div>
          </div>

          {% set pages_length = paginator.pages | length %}
          {% for page in paginator.pages %}
            {{ page_macros::page_listing(page=page) }}

            {# This is the divider between post listings #}
            {% if loop.index != pages_length %}
              <div class="divider"></div>
            {% endif %}
          {% endfor %}
          
          {% if paginator.previous or paginator.next %}
            <div class="flex justify-center">
              {{ page_macros::page_pagination(paginator=paginator) }}
            </div>
          {% endif %}
        {% else %}
          {% for page in section.pages %}
            {{ page_macros::page_listing(page=page) }}
          {% endfor %} 
        {% endif %}
      {% endblock content %}
    </main>
    
    {{ element_macros::footer() }}
  </div>
</body>
</html>
