{% import "macros/page.html" as page_macros %}
{% extends "index.html" %}

{% block title %}
<title> {{ page.title }} </title>
<meta property="og:title" content="{{ page.title }}"/>
<meta name="twitter:title" content="{{ page.title }}" />
{% endblock %}

{% block description %}
    <meta name="description" content="{{ page.description }}"/>
    <meta property="og:description" content="{{ page.description }}"/>
    <meta name="twitter:description" content="{{ page.description }}" />
{% endblock description %}

{% block content %}
<article>
    <header class="text-3xl md:text-4xl lg:text-[2.75rem] leading-tight font-bold">
        <h1>{{ page.title }}</h1>
    </header>
    
    <div class="text-base md:text-lg">
        {{ page_macros::page_info(page=page, large=true) }}
    </div>

    <div class="markdown-content">
        {{ page.content | safe }}
    </div>

</article>

{% endblock content %}