article:not(:last-of-type) {
  border-bottom: thin solid var(--gray);
  padding-bottom: 2em;
}

article header {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

article header a {
  font-size: 1.75rem;
  font-weight: bold;
  border: none;
  text-decoration: none;
  color: var(--text-important);
}

.article-date {
  margin-top: 0.2rem;
  padding-left: 1rem;
  color: var(--gray);
  font-size: 1rem;
}

.all-tags {
  font-size: 1rem;
}

.article-info {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--gray);
}

.article-info .article-date {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  padding: 0;
}

.reading-time {
  margin-bottom: 0.5rem;
}

article img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto 0.5em;
}

.read-more {
  font-size: 0.85em;
}

.divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: thin solid red;
  width: 25%;
  margin: 1em auto;
}

.post header {
  margin-top: 0;
}

.post header h1 {
  margin: 0;
}

.post-summary {
  margin-top: 0.5em;
  display: block;
}

.post-summary > p {
  color: var(--text-gray);
  display: block;
}

.content {
  margin-top: 1rem;
  border-top: 1px solid var(--gray);
}

.content p {
  color: var(--text-color);
}

.content h1,
.content h2,
.content h3,
.content h4 {
  margin-bottom: .75rem;
}

@media (max-width: 840px) {
  .article-info {
    flex-direction: column;
  }
}
