nav {
  padding-bottom: 2rem;
  line-height: 2rem;
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}

.heading-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--text-important);
}

.links > * {
  text-decoration: none;
  color: var(--text-important);
}

.links > *:not(:first-child) {
  margin-left: 2rem;
}

a.active:hover {
  opacity: 60%;
}

a.active {
  color: var(--gray);
  text-decoration: 1px underline;
}


@media (max-width: 840px) {

  .links {
    font-size: .95rem;
    display: inline;
  }

  .links > *:not(:first-child) {
    margin-left: 0.5rem;
  }
}
