* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--text-color);
  font-size: 1.15rem;
  line-height: 2rem;
  -webkit-font-smoothing: antialiased;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

.container {
  width: 60%;
  margin: 0 auto;
}

main {
  outline: none;
}

h1,
h2,
h3,
h4,
b,
strong {
  color: var(--text-important);
}

/* Headers */
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

a {
  color: var(--pink);
  text-decoration: 1px underline;
  transition: 0.15s;
}

a:hover {
  opacity: 60%;
  text-decoration: 1px dotted underline;
}

@media (max-width: 1080px) {
  .container {
    width: 90%;
  }
}
